* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Montserrat;
    font-size: 16px;
    color: #4A4A4A;    
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

h4 {
    font-size: 1.8rem;
}

p {
    font-size: 1.2rem;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    margin: 16px 0px 16px 24px;
}

.logo img {
    height: 48px;
}

.logo span {
    font-weight: bold;
    font-size: 1.5rem;
}

.logo p {
    color: #9B9B9B;
    font-size: 1.5rem;
}

nav {
    margin: 16px 24px 16px 0px;


}

nav a {

    font-family: Verdana;
    font-size: 1.5rem;
    text-decoration: none;
    color: #4A4A4A;
    margin: 8px;
    vertical-align: middle;

}

.banner {
    display: flex;
    background-color: #D8D8D8;
}

.banner_img {
    margin: 32px 24px;
    width: 60%;
    height: auto;
}
.banner_img img {
    width: 100%;
    height: auto;
}

.banner_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 32px;
    width: 40%;
}

.banner_text h1, h4 {
    padding: 20px 0px 20px 0px;
}

.button {
    color: white;
    background-color: #4A4A4A;
    margin: 20px 0px;
    padding: 16px;
    border: none;
    font-family: Montserrat;
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;    
}

.information {
    display: flex;
    flex-direction: row;
}

.information_main {
    margin: 32px 24px;
    width: 60%;
    height: auto;


}

.information_main h2 {
    margin: 32px 0px 24px;
}

.information_main h3 {
    margin: 24px 0px 32px;
}

.information_main img {
    width: 100%;
    height: auto;
}

.information_side {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    margin-top: 16px;
    border-left: 1px solid #E0E2E2;
}

.side_box1:hover {
    background-color: #D8D8D8;
}

.side_box2 {
    border-bottom: 1px solid #E0E2E2;
    border-top: 1px solid #E0E2E2;
}

.side_box2:hover {
    background-color: #D8D8D8;
}

.side_box3:hover {
    background-color: #D8D8D8;
}

.side_container {
    display: flex;
    position: relative;
    margin: 16px;
}

.side_img {
    display: flex;
    width: 35%;
    height: auto;
}

.side_img img {

    width: 100%;
    height: auto;
}

.side_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    height: auto;
    padding: 24px;
}

.course {
    background-color: #EAEBEC;
}

.course h2 {
    padding: 32px 0px;
    text-align: center;
}

.course_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course_box {
    width: 100%;
    height: auto;
}