* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Montserrat;
    font-size: 16px;
    color: #4A4A4A;    
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1rem;
    font-weight: lighter;
}

p {
    font-size: 1.2rem;
}

/* Header Navigation */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    margin: 16px 0px 16px 24px;
}

.logo img {
    height: 48px;
}

.logo span {
    font-weight: bold;
    font-size: 1.5rem;
}

.logo p {
    color: #9B9B9B;
    font-size: 1.5rem;
}

nav {
    margin: 16px 24px 16px 0px;


}

nav a {

    font-family: Verdana;
    font-size: 1.5rem;
    text-decoration: none;
    color: #4A4A4A;
    margin: 8px;
    vertical-align: middle;
    transition: color 200ms ease-in-out, 200ms ease-in-out;

}

nav a:hover {
    color: #f13c20;
    font-size: 1.6rem;
}

.mobile_nav {
    display: none;
}

/* Banner */

.banner {
    display: flex;
    background-color: #efe2ba;
}

.banner_img {
    padding: 32px 24px 32px 24px;
    width: 60%;
    height: auto;
    flex-flow: wrap row;
}
.banner_img img {
    border-radius: 1%;
    width: 100%;
    height: auto;
}

.banner_heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 40%;
    padding: 0px 16px;
}

.banner_heading h1, h4 {
    padding-right: 200px;
    margin: 32px 0px;
}

.button {
    color: white;
    background-color: #4056a1;
    margin: 20px 200px 20px 0px;
    padding: 16px 0px;
    border: none;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 400ms ease-in-out, 200ms ease-in-out;    
}

.button:hover {
    background-color: #f13c20;
    font-size: 2.1rem;
}

/* Information */

.information {
    display: flex;
    flex-direction: row;
}

.information_main {
    padding: 32px 24px;
    width: 60%;
    height: auto;
}

.information_main h2 {
    margin: 32px 0px 24px;
}

.information_main h5 {
    margin: 32px 0px 0px;
    color: #f13c20;
}

.information_main img {
    border-radius: 1%;
    width: 100%;
    height: auto;
}

.information_side {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    margin-top: 16px;
    border-left: 1px solid #E0E2E2;
}

.side_box1 {
    transition: background-color 200ms linear;    
}

.side_box2 {
    border-bottom: 1px solid #E0E2E2;
    border-top: 1px solid #E0E2E2;
    transition: background-color 200ms linear;    
}

.side_box3 {
    transition: background-color 200ms linear;
}

.side_box1:hover {
    background-color: #c5cbe3;
}

.side_box2:hover {
    background-color: #c5cbe3;
}

.side_box3:hover {
    background-color: #c5cbe3;
}

.side_container {
    display: flex;
    position: relative;
    margin: 16px;
}

.side_img {
    display: flex;
    width: 35%;
    height: 100%;
}

.side_img img {
    border-radius: 3%;
    width: 100%;
    height: auto;
}

.side_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 65%;
    height: auto;
    padding: 24px;
}

.side_text h4 {
    margin: 0px 0px 32px 0px;
    padding-right: 0;
    padding-left: 0;
}

.side_text p {
    margin-bottom: 32px;
}

.side_text a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #f13c20;
}

/* Courses */

.course {
    background-color: #c5cbe3;
}

.course h2 {
    padding: 64px 0px;
    text-align: center;
}

.course_grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    grid-gap: 32px 32px;
    box-sizing: border-box;
}

.course_box {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 16px;
    opacity: 0.8;
    transition: opacity 200ms ease-in-out;
}

.course_box:hover {
    opacity: 1;;
}

.course_box img {
    width: 100%;
}

.course_text {
    background-color: white;
    height: 100%;
    padding: 0px 32px 0px 32px;
}

.course_text h4 {
    padding-right: 0;
    margin: 16px 0px;
}

.course_text p {
    margin: 16px 0px;
}

.mobile_course_grid {
    display: none;
}

/*

.course {
    background-color: #c5cbe3;
}

.course h2 {
    padding: 64px 0px;
    text-align: center;
}

.course_grid {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0px 72px 64px 72px;
    justify-content: space-between;
}

.course_box {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 16px;
    opacity: 0.8;
    transition: opacity 200ms ease-in-out;
}

.course_box:hover {
    opacity: 1;;
}

.course_text {
    background-color: white;
    height: 100%;
    padding: 0px 32px 0px 32px;
}

.course_text h4 {
    padding-right: 0;
}

.course_text p {
    margin: 32px 0px;
}

*/

/* Thesis */

.thesis_header h2 {
    padding: 64px 0px 32px 0px;
    text-align: center;
}

.thesis {
    display: flex;
    flex-direction: row;
}

.thesis_main {
    padding: 32px 24px;
    width: 60%;
    height: auto;
}

.thesis_main h2 {
    margin: 32px 0px 24px;
}

.thesis_main h5 {
    margin: 32px 0px 0px;
}

.thesis_main video {
    border-radius: 1%;
    width: 100%;
    height: auto;
}

.thesis_side {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    margin-top: 16px;
}

#side_box:hover {
    background-color: #efe2ba;
}

#side_box {
    display: flex;
    position: relative;
    padding: 16px;
    transition: background-color 200ms linear;
}

.side_image {
    display: flex;
    width: 35%;
    height: auto;
}

.side_image img {
    border-radius: 3%;
    width: 100%;
    height: auto;
}

.side_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    height: auto;
    padding: 24px;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E0E2E2;
    padding: 16px 24px 32px 24px;

}

.footer_nav {
    display: flex;
    
}

.footer_nav a {
    margin: 0px 8px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #4A4A4A;
}

.footer_nav p {
    transition: color 200ms ease-in-out;
}

.footer_nav p:hover {
    color: #f13c20;
}

/* Screen Dimension Changes */

@media screen and (max-width: 1427px) {

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .banner_heading h1 {
        font-size: 2.5rem;
        margin: 16px 0px;
        padding-right: 75px;
    }

    .banner_heading h4 {
        font-size: 1.5rem;
        margin: 16px 0px;
        padding-right: 75px;
    }

    .button {
        margin: 20px 75px 20px 0px;
    }

    .side_text h4 {
        font-size: 1.2rem;
        margin-bottom: 16px;
    }

    .side_text p {
        font-size: 0.8rem;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 1119px) {

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.8rem;
    }

    nav {
        display: none;    
    }

    .mobile_nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-left: 160px;
    }

    .mobile_nav img {
        padding-top: 5px;
        vertical-align: baseline;
    }

    .mobile_nav img:hover {
        opacity: 0.5;
    }

    .banner_heading h1 {
        font-size: 2rem;
        margin: 16px 0px;
        padding-right: 25px;
    }

    .banner_heading h4 {
        font-size: 1rem;
        margin: 16px 0px;
        padding-right: 25px;
    }



    .side_text h4 {
        font-size: 1rem;
        margin-bottom: 8px;
    }

    .side_text p {
        font-size: 0.6rem;
        margin-bottom: 8px;
    }

    .side_text {
        padding: 16px 8px 16px 16px;
    }

    .course_grid {
        display: none;
    }

    .mobile_course_grid {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        grid-gap: 32px 32px;
        box-sizing: border-box;
    }
    
    .course_box {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin: 16px;
        opacity: 0.8;
        transition: opacity 200ms ease-in-out;
    }
    
    .course_box:hover {
        opacity: 1;;
    }
    
    .course_box img {
        width: 100%;
    }
    
    .course_text {
        background-color: white;
        height: 100%;
        padding: 0px 32px 0px 32px;
    }
    
    .course_text h4 {
        padding-right: 0;
        margin: 16px 0px;
    }
    
    .course_text p {
        margin: 16px 0px;
    }
}